<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ESI</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
    <header>
        <img th:src=" @{/img/Logo-esi.png}" alt="Logo-esi" height="60" width="100" />
        <div id="title">
            <h1>Programme annuel des étudiants</h1>
        </div>
    </header>
    <main>
        <p>Bienvenue sur le futur site de gestion du programme annuel des étudiants.</p>
    </main>
    <footer>
        <p>HE2B-ESI / WEBG5 / 2024-2025</p>
    </footer>
</body>
</html>
